.meta-hidden {
    display: none
}

.text-sm {
    font-size: 1.4em;
}

.text-sm1 {
    font-size: 1.6em;
}

.text-md {
    font-size: 1.8em;
}

.text-md1 {
    font-size: 1.9em;
}

.text-lg {
    font-size: 2.7em;
}

.text-m1 {
    margin-top: 1em;
}

.text-m2 {
    margin-top: 2em;
}

.text-m3 {
    margin-top: 3em
}

strong {
    font-weight: bold;
}

.slide-content {
    width: 1000px;
}

.text-left {
    position: absolute;
    left: 80px;
    width: 800px;
}

.text-right {
    position: absolute;
    right: 80px;
    width: 800px;
}
.text-right2 {
    position: absolute;
    right: 80px;
    width: 600px;
}

.text-bottom {
    position: absolute;
    left: 80px;
    bottom: 120px;
}

.text-center {
    text-align: center;
}


.title-page {
    background: url(images/bg/desert-sand.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #373538;
}

.desert-sand {
    background: url(images/bg/desert-sand.jpg) no-repeat center center fixed;
    background-size: 100% 100%;
    color: #373538;
}
